{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Habit</title>
    <link rel="stylesheet" href="{% static 'css/style_add_habitat.css'%}">
</head>
<body>
<div class="wrapper">
    <header class="container_1">
        <nav>
          <ul class="left-nav">
            <li class="profile"><a href="{%url 'users:profile'%}" id="profile-button" >Profile</a></li>
            <li><a href="{%url 'habits:habit_list'%}" id="habits-button" class="active">Habits</a></li>
            <li><a href="{%url 'habit_notes:all_notes'%}" id="diagrams-button">Notes</a></li>
        </ul>
        <span class="logo" id="home-button" ><a href="{%url 'main:main_after_registration'%}">HabitFlow </a></span>
        <ul class="right-nav">
            <li><a href="{%url 'main:settings'%}" id="settings-button">Settings</a></li>
            <li class="About"><a href="{%url 'main:about'%}" >About</a></li>
        </ul>
        </nav>
    </header>
</div>

<div class="container_2"> 
    <div class="content">

        <div class="form-section">
        <!-- Форма отправляется по адресу `habits:create_habit` методом POST -->
        <form action="{% url 'habits:create_habit' %}" method="post">
            {% csrf_token %}
            
            <!-- Name -->
            <input type="text" class="form-control" id="id_name"
                   value="{% if form.name.value %}{{ form.name.value }}{% endif %}"
                   name="name"
                   placeholder="Name of habit" required>
            {% if form.name.errors %}
              <div class="alert alert-danger alert-dismissible fade show">
                {{ form.name.errors }}
              </div>
            {% endif %}

            <!-- Description -->
            <input type="text" class="form-control" id="id_description"
                   value="{% if form.description.value %}{{ form.description.value }}{% endif %}"
                   name="description"
                   placeholder="Describe habit" required>
            {% if form.description.errors %}
              <div class="alert alert-danger alert-dismissible fade show">
                {{ form.description.errors }}
              </div>
            {% endif %}
            
            <!-- Category -->
            <select class="form-control" id="id_category" name="category" required>
                <!-- Для "placeholder"-опции -->
                <option value="" disabled selected hidden>Category</option>
                <option value="good">Good</option>
                <option value="bad">Bad</option>
            </select>
            {% if form.category.errors %}
              <div class="alert alert-danger alert-dismissible fade show">
                {{ form.category.errors }}
              </div>
            {% endif %}
            
            <!-- Frequency -->
            <select class="form-control" id="id_frequency" name="frequency" required>
                <option value="" disabled selected hidden>Frequency of execution</option>
                <option value="daily">Daily</option>
                <option value="weekly">Weekly</option>
                <option value="biweekly">Every 2 Weeks</option>
                <option value="monthly">Monthly</option>
                <option value="semiannual">Every 6 Months</option>
                <option value="yearly">Yearly</option>
            </select>
            {% if form.frequency.errors %}
              <div class="alert alert-danger alert-dismissible fade show">
                {{ form.frequency.errors }}
              </div>
            {% endif %}
            
            <!-- End Date -->
            <input type="text" class="form-control" id="id_end_date"
                   value="{% if form.end_date.value %}{{ form.end_date.value }}{% endif %}"
                   name="end_date"
                   placeholder="End Date"
                   onfocus="(this.type='date')"
                   onblur="if(!this.value) this.type='text'"
                   required>
            {% if form.end_date.errors %}
              <div class="alert alert-danger alert-dismissible fade show">
                {{ form.end_date.errors }}
              </div>
            {% endif %}
            
            <!-- Кнопка добавления -->
            <button type="submit" class="add-button">Add</button>
        </form>
    </div>
    </div>
    
    <!-- Картинка  -->
    <div class="image-section">
        <img src="{% static 'img/habitat_img.svg'%}" alt="Meditation Illustration">
    </div>
</div>

</body>
</html>
