<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Habits without value</title>
  <link rel="stylesheet" href="css/style_habitat_without_value.css">
</head>
<body>
<div class="wrapper">
  <header class="container_1">
    <nav>
      <ul class="left-nav">
        <li><a href="profile.html">Profile</a></li>
        <li class="Habitat"><a href="#" class="active">Habit</a></li>
        <li><a href="#">Diagrams</a></li>
      </ul>
      <span class="logo">HabitFlow</span>
      <ul class="right-nav">
        <li><a href="#">Settings</a></li>
        <li><a href="about.html">About</a></li>
      </ul>
    </nav>
  </header>
</div>
<div class="container_2">
  <h1>You don't have any habits right now!</h1>
  <h2>Add them now!</h2>
  <button class="add-habit" onclick="window.location.href='add_habitat.html'">
    Add habits
  </button>

</div>