body {
    margin: 0;
    padding: 0;
    background-color: #6A6F4C; /* Зеленый фон */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.card {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
}

.card h1 {
    margin-bottom: 20px;
    font-size: 1.8rem;
    color: #333;
}

/* Группа ввода для полей */
.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-weight: 600;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

/* Кнопка "Сохранить" */
.save-button {
    background-color: #5E2611;
    color: #fff;
    border: none;
    padding: 12px;
    width: 100%;
    border-radius: 4px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.save-button:hover {
    background-color: #7a3a23;
}