@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* Общие стили */
html, body {
    margin: 0;
    padding: 0;
    width: 1920px; /* Фиксированная ширина */
    height: 1080px; /* Фиксированная высота */
    font-family: 'Poppins', sans-serif;
    background-color: #6A6F4C;
    overflow: hidden; /* Убираем прокрутку */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 1920px; /* Фиксированная ширина контейнера */
    height: 1080px; /* Фиксированная высота контейнера */
    position: relative;
}


.card {

    right: 215px;
    top: 100px;
    display: flex;
    width: 1200px;
    height: 611px;
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    z-index: 2; /* Карточка выше фона */
    margin: auto;
}

.left-side {
    flex: 1;
    position: relative;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.illustration_fon {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1; /* Фоновая иллюстрация ниже основной */
    display: flex;
    justify-content: center;
    align-items: center;
}

.illustration_fon img {
    width: 90%; /* Размер фоновой иллюстрации */
}

.illustration {
    z-index: 2; /* Основная иллюстрация выше фоновой */
    position: relative;
}

.illustration img {
    width: 80%; /* Размер основной иллюстрации */
}

/* Правая сторона */
.right-side {
    flex: 1;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

p {
    margin-bottom: 30px;
    color: #555;
}

form {
    width: 100%;
}
label {
    display: block;
    margin-bottom: 5px;
    font-size: 1rem;
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

button.reset {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #5E2611;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
}

button.reset:hover {
    background-color: #9f3f20;
}

a.back-to-login {
    display: inline-block;
    margin-top: 10px;
    color: #6A6F4C;
    text-decoration: none;
}

a.back-to-login:hover {
    text-decoration: underline;
    color: #8B4513;
}