{% load static %}

  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="{% static 'css/styless_forgot_password.css' %}">
  </head>
  <body>
  <div class="container">
    <div class="card">
      <div class="left-side">
        <div class="illustration_fon">
          <img src="{% static 'img/fon_illustation_for_registration.svg' %}" alt="Background Illustration">
        </div>
        <div class="illustration">
          <img src="{% static 'img/img_register.svg' %}" alt="Main Illustration">
        </div>
      </div>
      <div class="right-side">
        <h1>Reset password</h1>
  
        <form method="post">
          {% csrf_token %}

          <label for="id_password1" class="form-label">New password</label>
            <input type="password" class="form-control" id="id_password1"
            value="{% if form.new_password1.value %}{{ form.new_password1.value }}{% endif %}"
            name="new_password1"
            placeholder="Enter your new password" required>
            {% if form.new_password1.errors %}
            <div class="alert alert-danger alert-dismissible fade show">{{form.new_password1.errors}}</div>
            {% endif %}

            <label for="id_password2" class="form-label">Confirm password</label>
            <input type="password" class="form-control" id="id_password2"
            value="{% if form.new_password2.value %}{{ form.new_password2.value }}{% endif %}"
            name="new_password2"
            placeholder="Confirm your password" required>
            {% if form.new_password2.errors %}
            <div class="alert alert-danger alert-dismissible fade show">{{form.new_password2.errors}}</div>
            {% endif %}

          <button type="submit" class="reset">Reset Password</button>
        </form>
      </div>
    </div>
  </div>
  </body>
  </html>
  