{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile Page</title>
  <link rel="stylesheet" href="{% static 'css/styles_profile.css' %}">
</head>
<body>
<div class="wrapper">
  <header class="container_1">
    <nav>
      <ul class="left-nav">
        <li class="profile"><a href="{%url 'users:profile'%}" id="profile-button" class="active">Profile</a></li>
        <li><a href="{%url 'habits:habit_list'%}" id="habits-button">Habits</a></li>
        <li><a href="{%url 'habit_notes:all_notes'%}" id="diagrams-button">Notes</a></li>
    </ul>
    <span class="logo" id="home-button" ><a href="{%url 'main:main_after_registration'%}">HabitFlow </a></span>
    <ul class="right-nav">
        <li><a href="{%url 'main:settings'%}" id="settings-button">Settings</a></li>
        <li class="About"><a href="{%url 'main:about'%}" >About</a></li>
    </ul>
    </nav>
  </header>
</div>

<!-- Основное содержимое -->
<div class="container_2">
  <div class="content">
    <div class="text-section">
      <h1 id="profile-greeting">Hello, {{ user.get_display_name }}</h1>
      <h2>Your habits:</h2>
      {% if habits %}
      <ul class="habit-list">
      {% for habit in habits %}
        <li>
          <strong>{{ habit.name }}</strong><br>
          <span>{{ habit.description }}</span>
        </li>
      {% endfor %}
    </ul>
     {% else %}
    <p id="no-habits-message">You don't have any habits yet, add them!</p>
    {% endif %}
      <button id="add-habit-btn" onclick="window.location.href='{% url 'habits:create_habit' %}'">
        Add habit
      </button>
    </div>
    <div class="image-section">
      <img src="{% static 'img/profile.svg'%}" alt="">
    </div>
  </div>
  <p class="motivation-text">Achieve your goals and become the best version of yourself!</p>
</div>



</body>
</html>
