{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="{% static 'css/styles_registration.css' %}">
</head>
<body>
<div class="container">
    <div class="card">
        <div class="left-side">
            <div class="illustration_fon">
                <img src="{% static 'img/fon_illustation_for_registration.svg'%}" alt="Background Illustration">
            </div>
            <div class="illustration">
                <img src="{% static 'img/img_register.svg'%}" alt="Main Illustration">
            </div>
        </div>
        <div class="right-side">
            <h1>Welcome Back!</h1>
            <p>Please login or register to continue</p>

            <!-- Форма входа -->
            <form action = "{% url "users:login" %}" method = "post">
                {% csrf_token %}
                {% if request.GET.next %}
                <input type="hidden" name="next" value={{request.GET.next}}>
                {% endif %}

                <label for="id_username" class="form-label">Username</label>
                <input type="text" class="form-control"
                value="{% if form.username.value %}{{ form.username.value }}{% endif %}"
                name="username" id="id_username"
                placeholder="Enter your username"
                required>

                <label for="login-password" class = "form-label">Password</label>
                <input type="password" class = "form-control"
                name = "password" id="login-password" 
                placeholder="Enter your password" 
                required>

                <a href="forgot_password.html" class="forgot-password">Forgot Password?</a>
                <button type="submit" class="login">Login</button>

                <p class="or">or</p>
            </form>
            <button type="submit" class="register">Register</button>
            <a href="{% url 'users:registration'%}" class="register"></a>
            </form>

        </div>
    </div>
</div>
<script src="{% static 'script_registration.js' %}"></script>
</body>
</html>
