{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="{% static 'css/styles_registr.css' %}">
</head>
<body>
<div class="container">
    <div class="card">
        <h1>Registration</h1>
        <p>Please fill in the details to create an account.</p>
        <form action="{% url 'users:registration'%}"  method="post">
            {% csrf_token %}

            <label for="id_first_name" class="form-label">First Name</label>
            <input type="text" class="form-control" id="id_first_name" 
            value="{% if form.first_name.value %}{{ form.first_name.value }}{% endif %}"
            name="first_name"
            placeholder="Enter your first name" required>
            {% if form.first_name.errors %}
            <div class="alert alert-danger alert-dismissible fade show">{{form.first_name.errors}}</div>
            {% endif %}


            <label for="id_last_name" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="id_last_name" 
            value="{% if form.last_name.value %}{{ form.last_name.value }}{% endif %}"
            name="last_name"
            placeholder="Enter your last name" required>
            {% if form.last_name.errors %}
            <div class="alert alert-danger alert-dismissible fade show">{{form.last_name.errors}}</div>
            {% endif %}

            <label for="id_username" class="form-label">Username</label>
            <input type="text" class="form-control" id="id_username"
            value="{% if form.username.value %}{{ form.username.value }}{% endif %}"
            name="username"
            placeholder="Enter your username" required>
            {% if form.username.errors %}
            <div class="alert alert-danger alert-dismissible fade show">{{form.username.errors}}</div>
            {% endif %}

            <label for="id_email" class="form-label">Email Address</label>
            <input type="email" class="form-control" id="id_email" 
            value="{% if form.email.value %}{{ form.email.value }}{% endif %}"
            name="email"
            placeholder="Enter your email" required>
            {% if form.email.errors %}
            <div class="alert alert-danger alert-dismissible fade show">{{form.email.errors}}</div>
            {% endif %}

            <label for="id_password1" class="form-label">Password</label>
            <input type="password" class="form-control" id="id_password1"
            value="{% if form.password1.value %}{{ form.password1.value }}{% endif %}"
            name="password1"
            placeholder="Enter the password" required>
            {% if form.password1.errors %}
            <div class="alert alert-danger alert-dismissible fade show">{{form.password1.errors}}</div>
            {% endif %}

            <label for="id_password2" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="id_password2"
            value="{% if form.password2.value %}{{ form.password2.value }}{% endif %}"
            name="password2"
            placeholder="Confirm your password" required>
            {% if form.password2.errors %}
            <div class="alert alert-danger alert-dismissible fade show">{{form.password2.errors}}</div>
            {% endif %}

            <button type="submit" class="register-button">Register</button>
        </form>
        <a href="{% url 'users:login' %}" class="back-to-login">Back to Login</a>
    </div>
</div>
</body>
</html>
