{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="{% static 'css/styles_about.css' %}">
</head>
<body>
<div class="wrapper">
    <header class="container">
        <nav>
            <ul class="left-nav">
                <li class="profile"><a href="{%url 'users:profile'%}" id="profile-button">Profile</a></li>
                <li><a href="{%url 'habits:habit_list'%}" id="habits-button">Habits</a></li>
                <li><a href="{%url 'habit_notes:all_notes'%}" id="diagrams-button">Notes</a></li>
            </ul>
            <span class="logo" id="home-button" ><a href="{%url 'main:main_after_registration'%}">HabitFlow </a></span>
            <ul class="right-nav">
                <li><a href="{%url 'main:settings'%}" id="settings-button">Settings</a></li>
                <li class="About"><a href="{%url 'main:about'%}" class="active">About</a></li>
            </ul>
        </nav>
    </header>
</div>

<div class="about_container">
    <div class="flower_left">
        <img src="{% static 'img/flowers_2.svg' %}" alt="">
    </div>
    <h1>Nice to meet you!</h1>
    <h2>Our names are Sophia and Stefania!</h2>
    <h3>We are students and we want to help you track your habits</h3>
    <h4>That is why we created this website</h4>
    <p>&copy; 2025 HabitFlow. All rights reserved.</p>
    <div class="flower_right">
        <img src="{% static 'img/flowers_2.svg' %}" alt="">
    </div>
    <div class="sofia">
        <img src="{% static 'img/sofia.svg' %}" alt="">
    </div>
</div>

</body>
</html>
